body {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-decoration: none;
    margin: 0;
    padding: 0;
    background-color: rgb(244, 244, 244);
    color: rgb(240,0,240);
}
